.header{
  display: flex;
  justify-content: space-between;
  background-color: #dab999;
  padding: 2% 5% 2% 3%;
  position: fixed;
  width: 95%;
  z-index: 11;
}
.header-link{
  display: flex;
}
.header-link h4{
  padding: 6px;
  margin: 10px;
}
.banner{
    position: relative;
    padding: 9% 1% 4% 0%;
}
.banner h1{
  position: absolute;
  top: 30%;
  left: 10%;
}
.header-second{
  display: flex;
  justify-content: space-between;
}
.block{
  background-color: #584732;;
  position: relative;
}
.block img{
   height:200px;
   width:250px;
   top: 22%;
   right: 29%;
  position: absolute;
}
.block p{
      padding: 58% 14% 17% 23%;
}
.block h2{
      padding: 0% 0% 0% 25%;
}
.block p::after{
    position: absolute;
    content: "readmore";
    background-color: red;
    margin: 15% 5% 0% 15%;
}
.block img:hover{
    position: absolute;
    content: "";
    margin: -21% -28% 0% 0%;
    height: 100%;
    width: 100%;
}
.first-footer,.second-footer{
  display: flex;
 justify-content: space-between;
  margin: 2% 0% 0% 0%;
}
.first-footer ul{
  width: 43%;
  background-color: #686d3e;
  margin: 0% 4% 0% 0%;
}
.second-footer ul{
  width: 43%;
  background-color: #686d3e;
}

.second-footer{
  flex-direction: row-reverse;
}

/* Smartphones (portrait)  */
@media only screen and (min-width : 320px) and (max-width: 480px){
.header{
    margin: -30% 26% -23% -1%;
    width: 96%;
 }
 .header-link{
  display: none;
 }
 .header img{
    width: 23%;
      margin: 6% 4% 4% 2%;
 }
 .banner{
  width:195%;
    padding: 1% 0% 0% 0%;
    margin: 61% -24% 0% 0%;
 }
 .banner img{
    margin: 0% 1% 5% -2%;
     width: 103%;
    height: 50%;
 }
 .header-second{
  display: block;
    margin: -8% -25% 10% -2%;
    width: 182%;
  }
 .block {
  width: 109%;
 }
 .block img{
  width:43%;
 }
 .footer{
   margin: 1% 5% 7% 0%;
}
 .first-footer,.second-footer{
   width: 43%;
 }
 .first-footer,.second-footer, img{
  width:144%;
 }
 .second-footer ul{
  width: 135%;
}

}
@media only screen and (min-width : 640px) and (max-width: 767px){
.header{
   width: 97%;
}
.banner{
  padding: 21% 0% 0% 0%;
}
.header-second{
      width: 293%;
}
.footer{
      width: 293%;
}
}
@media only screen and (min-width : 767px) and (max-width: 991px){
.header{
   width: 97%;
}
.banner{
  padding: 21% 0% 0% 0%;
}
.header-second{
      width: 243%;
}
.footer{
      width: 243%;
}
}
@media only screen and (min-width : 991px) and (max-width: 1024px){
.header-second{
      width: 181%;
}
.footer{
      width: 181%;
}
}
